@font-face {
  font-family: Poppins;
  src: url(assets/Poppins-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(assets/Inter-VariableFont_opsz\,wght.ttf);
}



@theme {
  --color-midnight: #010101;
  --color-lime: #98E209;
  --color-bermuda: #78dcca;

  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
}